@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*font-family: 'Manbow'
  font-family: 'Oswald'
  font-family: 'Losta Masta'

*/

:root {
  /* farver */
  --pink: #db68a4;
  --lightpink: #cd85a6;   /* */
  --lightgreypink: #bc9aa1; /* */
  --greygreen: #a8a994; /* */
  --lightgreen: #90b480;/* */
  --green: #70b967;
  --darkgreen: #013220;
  --black: #000000;
  --white: #ffffff;

}


  html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Oswald;
    font-weight: 200;
  }

h1{
  font-family: Oswald;
}

h2{
  font-family: Losta Masta;
  font-weight: bold;
}

.section {
  text-align:center;
  font-size: 3em;
}

/*Forside*/
#veggies{
  width: 100%;
  opacity: 65%;
}

#whattime{
  position: absolute;
  margin: 2%;
  font-size: 80px;
  color: var(--white);
  width: 20%;
  text-align: center;
  z-index: 1;
}

#result{
  position: absolute;
  font-size: 18px;
  color: var(--white);
  margin-top: 8%;
  width: 20%;
  text-align: center;
  z-index: 1;
}

body{
  background-color: var(--green);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.textindex{
  width: 80%;
  margin: auto;
  text-align: center;
}

.orderandpayhere{
  font-size: 250px;
  color: var(--darkgreen);
  margin-top: 10%;
  line-height: 250px;

}

.presstoorder{
  margin-top: -10%;
  font-size: 50px;
  color: var(--white);
  margin-left: -10%;
  position: relative;
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {left:50px; top:0px;}
  25%  {left:50px; top:50px;}
  50%  {left:50px; top:0px;}
  75%  {left:50px; top:50px;}
  100% {left:50px; top:0px;}
}

.logo{
  width: 20%;
  margin-top: 5%;
  margin: 1%;
}

.trypuzzle{
  width: 25%;
  margin: 4%;
}

.paymethods{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 80%;
}

.bottomindexflex{
  display: flex;
  align-items: flex-end;
  margin-top: 10%;
}

.presstoorder2{
  font-size: 60px;
  color: var(--white);
  margin-left: 5%;
  position: relative;
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.timeandweather{
  margin-top: -2%;
}

.translationButtons{
  position: absolute;
  z-index: 1;
  margin-left: 85%;
  margin-top: 5%;
}

.translateButtonStyle{
  background-color: var(--green);
  color: var(--white);
  font-family: Oswald;
  font-size: 30px;
}
